.hero {
    height: 600px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heroAbout{
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.product-card img {
    height: 200px;
    object-fit: cover;
}

footer {
    background: #e7e7e7a0;
    color: rgb(27, 26, 26);
    text-align: center;
}

.hero p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero h6 {
  font-size: 1rem;
  letter-spacing: 1px;
}

h1 {
    font-family: fantasy;
    font-weight: 700;
    text-align: center;
    font-size: 100px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
